/* ========================================================================= */
/* ================================section-1================================ */
/* ========================================================================= */
.container1 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 11;
}
.container1 nav,
.container1 footer {
  position: absolute;
  width: 100%;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}
.container1 footer {
  bottom: 0;
}
.container1 .links {
  display: flex;
  gap: 2em;
}
.container1 .logo,
.container1 .link,
.container1 footer p {
  position: relative;
}
.container1 a,
.container1 p {
  text-decoration: none;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 13px;
  text-transform: uppercase;
}
.container1 .tagline {
  width: 50%;
  position: absolute;
  left: 50%;
  bottom: 2em;
  transform: translateX(-50%);
  text-align: center;
}
.container1 .hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.container1 .hero-video video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.container1 .blocks {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
}
.container1 .block {
  flex: 1;
  height: 100%;
  background: #000;
  clip-path: polygon(-1% 0%, 101% 0%, 101% 100%, -1% 100%);
}
.container1 h1 {
  font-size: 6vw;
  font-weight: 800;
  line-height: 100%;
  color: yellow;
}
.container1 .header {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container1 .header-item {
  position: relative;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  mix-blend-mode: difference;
}
.container1 .header-item h1 {
  position: relative;
  letter-spacing: 3px;
}
.container1 .counter {
  width: 140px;
  height: 40px;
  position: absolute;
  bottom: 6em;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.container1 .counter p {
  position: relative;
  font-size: 25px;
  padding: 10px 0;
  color: yellow;
  line-height: 120%;
}

@media only screen and (max-width: 600px) {
  .container1 footer {
    display: none;
  }
  .container1 .tagline {
    width: 90%;
  }
  .container1 h1 {
    font-size: 8vw;
  }
  .container1 .counter p {
    font-size: 20px;
    line-height: 160%;
  }
}

/* ========================================================================= */
/* ================================section-2================================ */
/* ========================================================================= */
.pop_img {
  position: relative;
  z-index: 11;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: black;
  color: white;
  cursor: pointer;
}
.pop_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.img_container {
  position: absolute;
  width: 500px;
  height: 400px;
}
.top_slide,
.bottom_slide {
  width: 100%;
  position: absolute;
  padding: 20px 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(225, 225, 225, 0.349);
  border-top: 1px solid rgba(225, 225, 225, 0.349);
}
.photo_slide {
  position: absolute;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  height: 30vh;
  width: 100%;
  padding: 2vh 0;
  border-bottom: 1px solid rgba(225, 225, 225, 0.349);
  border-top: 1px solid rgba(225, 225, 225, 0.349);
}
.photo_slide > span {
  display: flex;
  animation: slideLeft 140s linear infinite;
}
.photo_slide img {
  height: 100%;
  width: min-content;
  padding: 0 1.5vh;
}
.bottom_slide {
  bottom: 0;
}
.top_slide p,
.bottom_slide p {
  white-space: nowrap;
  margin-right: 35px;
  letter-spacing: 3px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(225, 225, 225, 0.371);
}
.top_slide p {
  transform: translateX(-3000%);
  animation: slideRight 140s linear infinite;
}
@keyframes slideLeft {
  0% {
    transform: translateX(0); /* Start position */
  }
  100% {
    transform: translateX(-100%); /* End position */
  }
}
.bottom_slide p {
  transform: translateX(-3000%);
  animation: slideRight 140s linear infinite;
}
@keyframes slideRight {
  0% {
    transform: translateX(-3000%); /* Start position */
  }
  100% {
    transform: translateX(0%); /* End position */
  }
}

/* ========================================================================= */
/* ================================section-3================================ */
/* ========================================================================= */
.cursor-mask {
  height: 100vh;
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.background-rando {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  cursor: crosshair;
}

.maskington {
  overflow: hidden;
  background: linear-gradient(yellow, white);
  cursor: none;
  position: relative;
  z-index: 10;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  transition: width 0.5s, height 0.5s;
}

.module {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 98.2vw;
  height: 100vh;
  z-index: 1000;
}

.flex_box {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 5vw;
  font-weight: 600;
}
.down_arrow {
  position: absolute;
  bottom: 20px;
  width: 50px;
  opacity: 0.7;
}
.text-side {
  width: 70%;
}
.text-side:hover .maskington {
  width: 250px;
  height: 250px;
}

@media only screen and (max-width: 700px) {
  .text-side {
    width: 92%;
  }
  .flex_box {
    font-size: 7vw;
  }
  .down_arrow {
    width: 40px;
  }
}
/* ========================================================================= */
/* ================================section-4================================ */
/* ========================================================================= */
.box {
  position: relative;
  z-index: -1;
  width: 100%;
  --progress: 0;
  --purple: #8648fe;
  --blue: #0ad2d4;
  display: block;
  font-family: "Avenir";
  height: 500vh;
  min-height: 500vh;
  padding: 0;
  margin: 0;
  --velocity: 0;
  background: #000;
}
.box .panelwrap {
  position: relative;
  width: 100%;
  height: 500vh;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  transform: translateY(calc(var(--progress) * -1.85%)) translateZ(0px);
  background: #000;
  opacity: clamp(0.15, calc(1 - (var(--velocity) / 5)), 1);
  filter: blur(calc((var(--velocity) * 2px) - 1px));
}
.box .panelwrap .panel {
  position: relative;
  width: 100%;
  height: 100vh;
  box-shadow: inset 0 0 0 10vmin #000;
}
.box .panelwrap .panel:before,
.box .panelwrap .panel:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inherit;
  left: 0;
  top: 0;
}
.box .panelwrap .panel:before {
  /* filter: saturate(0) brightness(0.75) contrast(2); */
}
.box .panelwrap .panel:after {
  background: radial-gradient(circle at bottom, var(--blue), var(--purple) 50%);
  mix-blend-mode: darken;
}
.box .panelwrap .panel:nth-of-type(even):after {
  transform: scaleY(-1);
}
.box .panelwrap .panel:nth-of-type(1):before {
  background: url("./assets/celeb-1.JPG") 50% 50% / cover no-repeat;
}
.box .panelwrap .panel:nth-of-type(2):before {
  background: url("./assets/celeb-2.jpg") 50% 50% / cover no-repeat;
}
.box .panelwrap .panel:nth-of-type(3):before {
  background: url("./assets/celeb-3.JPG") 50% 50% / cover no-repeat;
}
.box .panelwrap .panel:nth-of-type(4):before {
  background: url("./assets/celeb-4.jpg") 50% 50% / cover no-repeat;
}
.box .panelwrap .panel:nth-of-type(5):before {
  background: url("./assets/celeb-5.jpg") 50% 50% / cover no-repeat;
}
.box .panelwrap .panel:nth-of-type(6):before {
  background: url("./assets/celeb-6.JPG") 50% 50% / cover no-repeat;
}
.box .panelwrap .panel:nth-of-type(7):before {
  background: url("./assets/celeb-7.png") 50% 50% / cover no-repeat;
}

.box:before,
.box:after {
  content: "";
  position: fixed;
  width: clamp(15vw, 70vmin, 50vw);
  height: 100vh;
  z-index: 10;
  left: 0;
  top: 0;
  -webkit-mask: linear-gradient(to right, #000 7.5%, transparent);
  backdrop-filter: blur(20px);
  box-shadow: inset 10vmin 0 10vmin rgba(0, 0, 0, 0.75);
}
.box:after {
  -webkit-mask: linear-gradient(to left, #000 7.5%, transparent);
  right: 0;
  left: auto;
  box-shadow: inset -10vmin 0 10vmin rgba(0, 0, 0, 0.75);
}
.box * {
  box-sizing: border-box;
  transform-style: preserve-3d;
}
.box > h1,
.box > p {
  position: fixed;
  top: 0;
  z-index: 9;
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 3vmin;
  margin: 2.5vmin 0;
  text-transform: uppercase;
}
.box p {
  top: auto;
  bottom: 0;
  font-size: 2.2vmin;
  letter-spacing: 0.1vmin;
  font-weight: 500;
}
.box .wrap {
  position: fixed;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  z-index: 9;
  perspective: 35vmin;
  transform: scaleX(clamp(1, var(--velocity), 3)) translateZ(0px);
  filter: blur(calc((var(--velocity) * 2px) - 1px));
}
.box ul {
  list-style-type: none;
  width: 0vmin;
  height: 0vmin;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: calc(50% - 50vmin);
  left: 50%;
  margin: 0;
  padding: 0;
  transform: rotateX(-90deg) translateZ(50vmin);
  transform-origin: 50% 50%;
}
.box ul li {
  position: absolute;
  margin: 0px;
  width: 50vmin;
  height: 50vmin;
  left: -25vmin;
  top: -25vmin;
  transform-origin: 50% -200vmin;
  transform-style: preserve-3d;
}
.box ul li:nth-of-type(1) {
  transform: rotate(calc(12.8571428571deg + var(--progress) * 3.6deg));
}
.box ul li:nth-of-type(2) {
  transform: rotate(calc(0deg + var(--progress) * 3.6deg));
}
.box ul li:nth-of-type(3) {
  transform: rotate(calc(-12.8571428571deg + var(--progress) * 3.6deg));
}
.box ul li:nth-of-type(4) {
  transform: rotate(calc(-25.7142857143deg + var(--progress) * 3.6deg));
}
.box ul li:nth-of-type(5) {
  transform: rotate(calc(-38.5714285714deg + var(--progress) * 3.6deg));
}
.box ul li:nth-of-type(6) {
  transform: rotate(calc(-51.4285714286deg + var(--progress) * 3.6deg));
}
.box ul li:nth-of-type(7) {
  transform: rotate(calc(-64.2857142857deg + var(--progress) * 3.6deg));
}
.box ul li:nth-of-type(8) {
  transform: rotate(calc(-77.1428571429deg + var(--progress) * 3.6deg));
}
.box ul li:nth-of-type(9) {
  transform: rotate(calc(-90deg + var(--progress) * 3.6deg));
}
.box ul li:nth-of-type(even) time {
  transform: rotateX(90deg) translateZ(-12.5vmin) translateY(15vmin);
}
.box ul li:nth-of-type(even) time:after {
  top: auto;
  bottom: 100%;
}
.box ul li span {
  position: absolute;
  font-weight: 900;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: transparent;
  -webkit-text-stroke: 0.2vmin #fff;
  text-transform: uppercase;
  top: 0;
  left: 0;
  z-index: 1;
  transform: rotateX(90deg) translateZ(-5vmin);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6.5vmin;
  text-align: center;
  line-height: 1.2;
  padding: 2vmin;
  word-break: break-word;
  -webkit-text-fill-color: transparent;
}
.box ul li time {
  position: absolute;
  z-index: -1;
  transform-style: preserve-3d;
  transform: rotateX(90deg) translateZ(-12.5vmin) translateY(-15vmin);
  width: 5vmin;
  padding: 0.5vmin 0 0 0;
  margin: 0;
  height: 5vmin;
  top: 0;
  left: calc(50% - 2.5vmin);
  box-shadow: inset 0 0 0 0.1vmin #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vmin;
  color: #fff;
  border-radius: 100%;
  font-weight: 100;
}
.box ul li time:after {
  content: "";
  position: absolute;
  width: 0.125vmin;
  height: 5vmin;
  top: 100%;
  left: calc(50% - 0.0625vmin);
  background: #fff;
}

/* ========================================================================= */
/* ================================section-5================================ */
/* ========================================================================= */
.img_slider {
  position: relative;
  z-index: 1000;
  background: black;
  overflow: hidden;
}
#animation {
  display: flex;
  height: 250vh;
  padding: 5px;
  overflow: hidden;
}
#animation div {
  width: 25%;
  position: relative;
}
#animation img {
  width: 100%;
  padding: 3px 5px;
}
#col1,
#col3 {
  top: -4200px;
}
@media only screen and (max-width: 700px) {
  #col1 {
    top: -1200px;
  }
  .img_slider_head {
    height: 120px;
  }
  .img_slider_head h1 {
    font-size: 50px;
  }
  #animation {
    height: 100vh;
  }
  #animation #col3,
  #animation #col4 {
    display: none;
  }
  #animation div {
    width: 50%;
  }
  #animation img {
    padding: 3px 5px;
  }
}

.gap_section {
  height: 10vh;
  background: rgb(0, 0, 0);
}
@media only screen and (max-width: 700px) {
  .gap_section {
    height: 0vh;
    background: rgb(0, 0, 0);
  }
}
/* ========================================================================= */
/* ================================section-6================================ */
/* ========================================================================= */
.horizontal_scroll_div {
  position: relative;
  width: 100%;
  background: #000;
  overflow-x: hidden;
}
.horizontal_scroll {
  width: 100%;
  height: 430vh;
}
.horizontal_scroll h1 {
  width: 100%;
  color: #fff;
  font-size: 25vw;
  position: relative;
  font-family: "Syne", sans-serif;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 400;
  font-weight: 700;
  text-align: center;
  margin: 0;
}
.horizontal_scroll .wrapperz {
  position: absolute;
  top: 0;
  width: 400vw;
  height: 100vh;
  will-change: transform;
}
.horizontal_scroll .card {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
}
.horizontal_scroll .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.horizontal_scroll #sec6card1 {
  top: 4%;
  left: 28%;
}
.horizontal_scroll #sec6card2 {
  top: 55%;
  left: 48%;
}
.horizontal_scroll #sec6card3 {
  top: 8%;
  left: 75%;
}
.horizontal_scroll #sec6card4 {
  top: 50%;
  left: 95%;
}
@media (max-width: 600px) {
  .horizontal_scroll {
    height: 380vh;
  }
  .horizontal_scroll h1 {
    font-size: 29vw;
  }
  .horizontal_scroll h1 img {
    height: 80px;
  }
  .horizontal_scroll .card {
    border-radius: 10px;
  }
  .horizontal_scroll #sec6card1 {
    width: 200px;
    height: 200px;
    top: 10%;
    left: 28%;
  }
  .horizontal_scroll #sec6card2 {
    width: 180px;
    height: 180px;
    top: 65%;
    left: 55%;
  }
  .horizontal_scroll #sec6card3 {
    width: 190px;
    height: 190px;
    top: 8%;
    left: 110%;
  }
  .horizontal_scroll #sec6card4 {
    width: 200px;
    height: 200px;
    top: 65%;
    left: 135%;
  }
}

/* ========================================================================= */
/* ================================section-7================================ */
/* ========================================================================= */
.names_container {
  position: relative;
  z-index: 100000;
  background: #000;
}
.names_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.names_container p {
  font-size: 25px;
}
.names_container .sticky-bar {
  position: sticky;
  width: 100%;
  top: 50%;
  transform: transformY(-50%);
  padding: 1rem;
  display: flex;
  mix-blend-mode: difference;
}
.names_container .sticky-bar .item:nth-child(1),
.names_container .sticky-bar .item:nth-child(3) {
  flex: 2;
}
.names_container .sticky-bar .item:nth-child(3) {
  text-align: right;
}
.names_container .sticky-bar .item:nth-child(2) {
  flex: 1;
  text-align: center;
}
.names_container .sticky-bar .item p {
  color: white;
  font-size: 1.25vw;
}
.names_container .hero {
  width: 100%;
  padding: 0 7%;
}
.names_container .clients {
  width: 100%;
  padding: 10em 0;
  background: black;
  color: white;
}
.names_container .row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.names_container .logo {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 50%;
}
.names_container .logo:last-child {
  justify-content: left;
}
.names_container .logo p {
  font-size: 25px;
  cursor: pointer;
  position: relative;
  z-index: 10000;
}
.names_container .logo p span:first-child {
  margin-right: 12px;
}
.names_container section.trigger-footer {
  width: 100%;
  padding: 0 15% 60px;
}
@media (max-width: 900px) {
  .names_container .sticky-bar .item p {
    font-size: 2.5vw;
    letter-spacing: 0.2px;
    font-weight: 800;
  }
  .names_container .logo p {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .names_container p {
    display: flex;
    flex-direction: column;
  }
  .names_container .logo:first-child p {
    text-align: right;
  }
  .names_container .logo p span:first-child {
    margin: 0;
  }
}

/* ==============modal================ */

.modal {
  position: fixed;
  z-index: inherit;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(black, white, black);
  padding: 20px;
  width: 270px;
  border-radius: 10px;
}
.modal-content img {
  width: 100%;
  border-radius: 50%;
}
.modal-content .main_content h5 {
  font-size: 27px;
  padding-top: 5px;
  font-family: "Syne", sans-serif;
  color: white;
  text-transform: capitalize;
}
.modal-content .main_content h4 {
  font-size: 11px;
  padding-bottom: 5px;
  font-family: "Syne", sans-serif;
  color: rgb(216, 216, 216);
  text-transform: capitalize;
}
.modal-content .main_content a {
  font-size: 18px;
  padding: 8px 0;
  text-decoration: none;
  color: yellow;
  font-family: "Syne", sans-serif;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
#connectSvg {
  width: 130px;
  position: absolute;
  top: -13%;
  left: 65%;
  animation: rotateEyes 12s infinite linear;
}

/* ========================================================================= */
/* ================================section-8================================ */
/* ========================================================================= */
#celeb_container_div {
  position: relative;
}
.celeb_container {
  width: 100%;
  height: 100%;
  background: #000;
  position: relative;
  overflow: hidden;
}

.celeb_container .logoz {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 2em;
}

.celeb_container .logoz a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}

.celeb_container section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.celeb_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.celeb_container .hero h1 {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Syne", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 140px;
  color: white;
  letter-spacing: -8px;
  line-height: 90%;
}
.celeb_container .card.scroll {
  position: relative;
}
.celeb_container .img {
  position: absolute;
  height: 90vh;
  width: auto;
}
@media (max-width: 600px) {
  .celeb_container .logo {
    left: 50%;
    transform: translateX(-50%);
    padding: 1em 0em;
  }
  .celeb_container .logo a {
    font-size: 18px;
  }
  .celeb_container .hero h1 {
    font-size: 50px;
    letter-spacing: 0px;
    line-height: 100%;
  }
  .celeb_container .img {
    position: absolute;
    width: 90vw;
    height: auto;
  }
  .celeb_container .card.scroll {
    height: 80vh;
  }
}

/* ========================================================================= */
/* ================================Footer=================================== */
/* ========================================================================= */

.footer_container {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: max-content;
  padding: 150px 0;
  background: black;
}
.footer_container .text {
  font-size: 6.5vw;
  text-transform: uppercase;
  letter-spacing: -0.01em;
  line-height: 100%;
  margin: 0;
  width: 100%;
  color: rgba(214, 214, 214, 0.2);
  background: linear-gradient(to right, #b6b6b6, #b6b6b6) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 0%;
  transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;
  border-bottom: 1px solid #2f2b28;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  cursor: pointer;
  font-family: "Syne", sans-serif;
}
.footer_container .text:first-child{
    border-top: 1px solid #2f2b28;
}
.footer_container span {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: yellow;
  color: #0d0d0d;
  clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
  transform-origin: center;
  transition: all cubic-bezier(0.1, 0.5, 0.5, 1) 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer_container .text:hover > span {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.footer_container a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 600px) {
  .footer_container {
    padding: 150px 0;
  }
  .footer_container .text {
    font-size: 10vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 0;
  }
}

/* ========================================================================= */
/* ===============================contact=================================== */
/* ========================================================================= */
.contact_container {
  width: 100%;
  height: 100%;
}
.contact_container section.sticky {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: #000000;
}
.contact_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact_container .header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact_container .header h1 {
  text-transform: uppercase;
  font-size: 15vw;
  font-weight: 700;
  color: white;
  line-height: 80%;
  font-family: "Syne", sans-serif;
}

.contact_container .tracker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 75%;
  padding: 2em 0;
}

.contact_container .emoji {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background: radial-gradient(yellow, yellow, white);
  border-radius: 100%;
}

.contact_container .emoji-face {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 174px;
  height: 132px;
  display: flex;
  flex-direction: column;
}

.contact_container .eyes,
.contact_container .mouth-wrapper {
  flex: 1;
}

.contact_container .eyes {
  display: flex;
  justify-content: space-between;
}

.contact_container .eyes img {
  width: 22%;
  height: 30%;
  animation: rotateEyes 4s infinite linear;
}

.contact_container .mouth-wrapper {
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translateX(-50%);
}

.contact_container .mouth {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: black;
  animation: wonderFace 2s infinite cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes rotateEyes {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes wonderFace {
  0% {
    height: 40px;
  }

  50% {
    height: 80px;
  }

  100% {
    height: 40px;
  }
}
.contact_container #circleSvg {
  width: 150px;
  position: absolute;
  top: 75%;
  left: 87%;
  animation: rotateEyes 12s infinite linear;
}
.contact_container .scrollText {
  position: absolute;
  color: yellow;
  top: -205%;
  left: -20%;
  transform: rotate(-12deg);
}
.contact_container .scrollText p {
  position: relative;
  font-family: "Lugrasimo", sans-serif;
  animation: scrollText1001 200s infinite linear;
}
.contact_container .scrollText p:nth-child(2) {
  position: relative;
  animation: scrollText1001 250s infinite linear;
}
@keyframes scrollText1001 {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
@media (max-width: 600px) {
  .contact_container .header h1 {
    font-size: 19.5vw;
  }
  .contact_container .emoji {
    width: 170px;
    height: 170px;
  }
  .contact_container .emoji-face {
    width: 90px;
    height: 90px;
  }
  .contact_container .eyes img {
    width: 24%;
    height: 24%;
  }
  .contact_container .mouth-wrapper {
    top: 59%;
    left: 50%;
    transform: translateX(-50%);
  }
  .contact_container .mouth {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: black;
    animation: wonderFace 2s infinite cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .contact_container #circleSvg {
    width: 90px;
    top: 180%;
    left: 67%;
  }
  .contact_container .scrollText {
    top: -210%;
    left: 0%;
  }
  @keyframes wonderFace {
    0% {
      height: 20px;
    }

    50% {
      height: 40px;
    }

    100% {
      height: 20px;
    }
  }
}
